<div class="update">
  <div class="panel panel-default">
    <div class="panel-heading">Update personal information</div>
    <div class="panel-body">
      <form action="/update" method="POST">

        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="username" value=<%= currentUser.user.username %> placeholder=<%= currentUser.user.username %> name="username">
        </div>

        <div class="form-group">
          <label for="ageInput">Age</label>
          <input type="number" class="form-control" id="age" value=<%= currentUser.user.age %> placeholder=<%= currentUser.user.age %> name="age" min="12" max="150">
        </div>

        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input type="weight" class="form-control" id="weight" value=<%= currentUser.user.weight %> placeholder=<%= currentUser.user.weight %> name="weight">
        </div>

        <div class="form-group">
          <label for="allergiesInput">Allergies</label><br>
            <input type="checkbox" name="eachAllergy" value="lactoVegetarian">Lacto vegetarian<br>
            <input type="checkbox" name="eachAllergy" value="ovoVegetarian">Ovo vegetarian<br>
            <input type="checkbox" name="eachAllergy" value="paleo">Paleo<br>
            <input type="checkbox" name="eachAllergy" value="pescetarian">Pescetarian<br>
            <input type="checkbox" name="eachAllergy" value="vegan">Vegan<br>
            <input type="checkbox" name="eachAllergy" value="vegetarian">Vegetarian<br>
        </div>

        <div class="form-group">
          <label for="dietInput">Diet</label><br>
            <input type="checkbox" name="eachDiet" value="dairyFree">Dairy-Free<br>
            <input type="checkbox" name="eachDiet" value="eggFree">Egg-Free<br>
            <input type="checkbox" name="eachDiet" value="glutenFree">Gluten-Free<br>
            <input type="checkbox" name="eachDiet" value="peanutFree">Peanut-Free<br>
            <input type="checkbox" name="eachDiet" value="seafoodFree">Seafood-Free<br>
            <input type="checkbox" name="eachDiet" value="sesameFree">Sesame-Free<br>
            <input type="checkbox" name="eachDiet" value="soyFree">Soy-Free<br>
            <input type="checkbox" name="eachDiet" value="sulfiteFree">Sulfite-Free<br>
            <input type="checkbox" name="eachDiet" value="treeNutFree">Tree Nut-Free<br>
            <input type="checkbox" name="eachDiet" value="wheatFree">Wheat-Free<br>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Update</button>

      </form>
    </div>
  </div>

</div>
