<div class="login">
  <div class="panel panel-default">
    <!--<div class="panel-heading">Update personal information</div>-->
    <div class="panel-body">
      <div class="panel-title">
        <h2>Update personal information</h2>
      </div>

      <form action="/update" method="POST">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="username" value="<%= currentUser.user.username %>" placeholder="<%= currentUser.user.username %>" name="username">
        </div>

        <div class="form-group">
          <label for="ageInput">Age</label>
          <input type="number" class="form-control" id="age" value="<%= currentUser.user.age %>" placeholder= "<%= currentUser.user.age %>" name="age" min="12" max="150">
        </div>

        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input type="weight" class="form-control" id="weight" value="<%= currentUser.user.weight %>" placeholder="<%= currentUser.user.weight %>" name="weight">
        </div>

        <div class="diet form-group">

        </div>

        <div class="allergy form-group">

        </div>

        <button type="submit" class="btn-form">Update</button>

      </form>
    </div>
  </div>

</div>
